.hero {
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-phone-1x.jpg);
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 767px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tab-1x.jpg);
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-desk-1x.jpg);
  }
  @media screen and(min-width:1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 480px;

  @media screen and(min-width:768px) {
    max-width: 768px;
  }
  @media screen and(min-width:1200px) {
    max-width: 1600px;
  }
}

.hero__title {
  color: var(--prirmary-backrgaund-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 360px;
  }
  @media screen and(min-width:1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
