.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: #ffffff;
  overflow: scroll;
  z-index: 3;
}
.modile-menu {
  display: flex;
  justify-content: space-between;
  padding: 16px 15px;
}
.menu__button {
  position: absolute;
  top: 10px;
  right: 15px;

  border: none;
  background-color: #ffffff;
  color: #212121;
  &:hover,
  &:focus {
    color: var(--hightlight-color);
  }
}
.menu__svg {
  fill: currentColor;
}
.menu-social {
  display: flex;
}
.menu-social__item {
  padding: 0 10px;

  &:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--hightlight-color);
}
