:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hightlight-color: #2196f3;
  --prirmary-backrgaund-color: #ffffff;
  --hero-backrgaund-color: #2f303a;
  --button-backgraund-color: #f5f4fa;
  --icon-fill-color: #afb1b8;
  --cubic-tranzition: cubic-bezier(0.4, 0, 0.2, 1);
}
